<<<<<<< HEAD
<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
=======
<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
>>>>>>> e38011719beca8f9c3c9ce58b48689d26f37629e
</a>